<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionappdemo220220509091549.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c8a3ecce-fed1-463b-8f86-864a0909cd93/resourcegroups/demo-rg1/providers/Microsoft.Web/sites/FunctionAppDemo220220509091549</ResourceId>
    <UserName>$FunctionAppDemo220220509091549</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionappdemo220220509091549.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>